includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - config/
        - database/
        - routes/

    # Dimulai dari 5, dinaikkan bertahap (ROADMAP Fase 6).
    level: 5
